#gallery, #gallery1{
	width: 700px;

	text-align: center; font-style: italic;
}
img{
	
	width: 100%;
	   
   
    margin-top: 10px; /* Отступ сверху */
    margin-bottom: 5px; /* Отступ снизу */
    color: #666; /* Цвет подрисуночной подписи */
}