$font-size-base: 1.5rem;
$blue: red;
$secondary: green;
@import "~bootstrap/scss/bootstrap";

@mixin colorize( $color,$h,$w) {
  width: $w;
  height: $h;
  background-color: $color;
}

.red-block {
  @include colorize(red, 200px, 200px);
  float: left;

  li {
    list-style: none;

  }

  ul {
    padding: 0;
  }
}


.green-block {
  @include colorize(green, 200px, 200px);
  float: left;
}

.blue-block {

}
